* {
  margin: 0;
  padding: 0;
}

#header {
  background-color: lightpink;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container {
  background-color: black;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.tile {
  width: 30vh;
  height: 30vh;
  background-color: aliceblue;
}
